{% extends 'index.html' %}
{% block title %}About{% endblock %}
{% block content %}
    <h3 class="text-center alert alert-warning">About</h3>
    <div class=' text-center alert alert-warning' style="padding-left:25%;padding-top:5%;padding-bottom:5%">
    <h6>This project is made with the sole purpose of implementing my learning
    of Django in form of a catchy project. This project displays images and its related data
    from the database. There are 3 genres specified for now - games, nature and celebrity.
    You can add more images using the django admin GUI and also for other CRUD purpose.
    </h6>
    </div>
{% endblock content %}
