{% extends 'index.html' %}
{% block title %}Contact{% endblock %}
{%load static%}
{% block content %}
    <h3 class="text-center alert alert-danger">Contact</h3>
    <div class='container  text-white bg-dark m-0 pb-3p-md-4'>
        <div class='row'>
            <div class='col-md-8 text-justify' style="padding-left:10%;padding-top:5%;padding-bottom:5%">
                <h4>Name : Hardik Pachory</h4>
                <h4>E-mail : pachory42@gmail.com</h4>
                <h4>Address : Jodhpur, Rajasthan</h4>
                <h4>Country : INDIA</h4>
            </div>
            <div class='col-md-4 text-center' style="padding-top:5%;padding-bottom:5%">
                <img width='70%'  src="{% static 'images/dev.png' %}" alt="Image of logo">
            </div>
        </div>
    </div>
{% endblock content %}
